body {
background-color: burlywood;
}
h1{
color: cadetblue;
background-color: burlywood;
}
#show_sketch{
float: right;
}
canvas{
border: 5px solid white;
border-radius: 20px;
animation-name:example ;
animation-duration:4s ;
animation-iteration-count: infinite;
margin-top: 250px;
}
@keyframes example{
from{box-shadow:1px 1px 38px blue;}
to{box-shadow: 1px 1px 38px cadetblue;}
}
p{
padding-top: 10px;
font-size: 25px;
color: cadetblue;
}